#full{
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}
nav{
    border: 1px solid red;
    height:80px;
    display: flex; 
    justify-content: space-between;
    align-items: center;   
    background-color: black;
}
#icon,#search-bar,#log-in{
    border: 1px solid red;
    height: 90%; 
}
#icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon1{
     border: 1px solid red;
    height: 50px;
    width: 50px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRslcO84eWfXP_4Ucd4Yfz6B8uqJmHaTo0iTw&s');
    background-repeat: no-repeat;
    background-size: contain;
   
}
#home-icon{
     border: 1px solid red;
     display: flex;
     justify-content: center;
     align-items: center;
    height: 50px;
    width: 50px;
    background-color: bisque;
}
#search-bar{
     width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
}
#search{
     border: 1px solid red;
     border-radius: 40px;
     height: 80%;
    width: 100%;
    display: flex;
      justify-content:space-between;
      align-items: center;
      
}
#search-container{
      border: 1px solid red;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     left: 13px;
      height: 60%;
      width: 40px;
    background-color:black; 
}
#i{
    position: relative;
    left: 100px;
}

#search-input{
    position: relative;
    left: 114px;
    border: none;
    font-size: 17px;
    /* outline: none; */
    color: rgb(255, 255, 255);
    background-color: black;
      /* background: transparent; */
  
}
#search-container:hover {
  background-color: #2a2a2a;
  cursor: text;
}
#ctrl{
      border: 1px solid red;
   height: 80%;
    width: 80px; 
    border-radius: 10px;
    position: relative;
    left: 85px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.c
{
    border: 1px solid red;
    height: 70%;
    width: 30px;
   
    text-align: center; 
}
#bowse{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15px;
    height: 80%;
    width: 40px;
    background-color:black; 
}

h4{
    position: relative;
    left: 0px;
    right: 0px;
}
#log-in{
      width: 840px;
      display: flex;
      justify-content:right;
      align-items: center;
}
#links{
 border: 1px solid red;
 height: inherit;
 width: 70%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.v-line {
  width: 2px;       
  height: 30px;    
  background-color: rgb(128, 22, 22);
}

a{
    font-size: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(178, 165, 165);
}
a:hover{
    color: white;
    transform:scale(1.07) ;
}
/* #log{
    border: 1px solid red;
    height: 70%;
    width: 18%;
  display: flex;
  justify-content: center;
    align-items: center;
   border-radius: 30px;
   background-color: white;
   
} */
#btn{
color: rgb(18, 4, 4);
border: none;
font-size: 20px;
padding: 10px  15px 10px;
background-color: rgb(241, 233, 233);
 border-radius: 25px;
  cursor: pointer;
}
#btn:hover{
    transform: scale(1.07);
}
